{% extends "_base.html" %}

{% block content %}
          <div class="well">
            <h1>Conclusion</h1>
            <p>The Discussion is the very last part of a lab.  This summarizes all the parts of the lab performed, so that after the reader reads the conclusion, they know: (1) a nice summary of what happened during the lab and (2) a detailed explanation of the results.  A Discussion has 6 parts, but it is broken down nicely below so it is not too overwhelming. At the end, this should be written in 1-2 paragraphs.</p>
          </div>

          <div>
            <h1>Rubric</h1>
            
            <h4>Restate Purpose and Testable Question (2 points)</h4>
            <ul>
              <li>The purpose of the lab must restate the testable question.</li>
            </ul>

            <h4>Restate and Reject/Support Hypothesis (6 points)</h4>
            <ul>
              <li>The hypothesis must be written if, then, because format.</li>
              <li>States whether or not the hypothesis is supported by the data from the experiment, or not.</li>
              <li>Answer the question posed in the lab and refute or support the hypothesis and why.</li>
              <ul>
                <li>"After analyzing the data, it shows that it [supports/denies] the hypothesis because..."</li>
              </ul>
            </ul>

            <h4>Summary of Experiment (4 points)</h4>
            <ul>
              <li>Brief summary of experiment: HOW you tested the hypothesis. Explain the procedure, but be concise.</li>
              <ul>
                <li>"In order to test the hypothesis, a washer was tied to a string to create a pendulum..."</li>
                <li>Explains possible reasons why the data turned out the way it did.</li>
              </ul>
            </ul>

            <h4>Discussion of Data (2 points)</h4>
            <ul>
              <li>This part of teh discussion must inform the reader about the relationships between the Independent Variable (IV) and the Dependent Variable (DV).
                <ul>
                  <li>"The data shows that the relationship between [IV] and [DV] is..."</li>
                </ul>
            </ul>

            <h4>Error Analysis/Improvements (6 points)</h4>
            <ul>
              <li>Discuss the sources of error or outlier data points i.e. scientist did not have accurate equipment for measuring time.</li>
              <li>Discuss how to minimize error: i.e. taking multiple trials...</li>
              <li>"Possible sources of error in this lab were... These errors were minimized by...."</li>
            </ul>

            <h4>Importance/Relevance (2 points)</h4>
            <ul>
              <li>The relevance (cultural, content, etc.) of the project and the implication onto others is discussed.</li>
            </ul>

            <h4>Spelling and Grammar (1 point)</h4>
            <ul>
              <li>0-1 use of personal pronouns. (0.5)</li>
              <li>0-3 spelling or grammar errors. (0.5)</li>
            </ul>

          </div>
{% endblock %}