{% extends "_base.html" %}

{% block content %}
          <div class="jumbotron">
            <h1>Science Project</h1>
          </div>

          <div>
            <h1>Examples</h1>
            <a href="http://www.sciencebuddies.org/science-fair-projects/project_sample_final_report.pdf 
">http://www.sciencebuddies.org/science-fair-projects/project_sample_final_report.pdf</a>
          </div>

          <div class="table-responsive">
            <h1>Rubric</h1>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Criteria</th>
                  <th>Excellent</th>
                  <th>Could Be Improved</th>
                  <th>Needs Substantial Improvement</th>
                  <th>Not Present</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center">Title Page - 3</td>
                  <td>
                    <p>Title page is <b>neat</b> and <b>typed</b> in the correct format.</p>
                    <p>(Title is centered in the middle of the page. Name, date, and period are in the bottom right hand corner.)</p>
                  </td>
                  <td>
                    <p>Title page is womewhat neat. Some of the format is incorrect.</p>
                  </td>
                  <td>
                    <p>Title page is not neat. The format is incorrect.</p>
                  </td>
                  <td></td>
              </tr>
              <tr>
                  <td class="center">Question Purpose - 3</td>
                  <td>
                    <p>Experiment is based on an <b>interesting</b> and <b>scientifically testable</b> question that includes the <b>independent and dependent variables.</b></p><p>Purpose is clearly <b>stated</b> and <b>explained</b>.
                    </p>
                  </td>
                  <td>
                    <p>Experiment is based on a scientifically testable question that is missing the idependent or dependent variable.</p>
                    <p>Purpose is briefly stated and explained.</p>
                  </td>
                  <td>
                    <p>Experiment is based on a equestion that is not scientically testable and is missing both the idependent and dependent variables.<br>Purpose is overly brief and explained poorly or incorrectly.</p>
                  </td>
                  <td></td>
              </tr>
              <tr>
                <td class="center">Hypothesis - 5</td>
                <td>
                  <p>Hypothesis and prediction are <b>clearly stated</b> in an "<b>If__, then __ statement</b>" and include an <b>explanation, independent variable</b> and <b>depedent variable.</b></p>
                </td>
                <td>
                  <p>Hypothesis and prediction are briefly stated in an If__, then __ statement and explained. The independent variable dependent variable is incorrect or missing.</p>
                </td>
                <td>
                  <p>Hypothesis and prediction statements are overly brief (short) and explained porrly or incorrecrly. Both the independent and dependent vairables are incorrect or missing.</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="center">Review of Literature - 6</td>
                <td>
                  <p><b>Thoroughly explains</b> everything the reader needs to know <b>in order to understand</b> the experiment and completely follows the <b>4-paragraph outline</b> given in class.</p>
                </td>
                <td>
                  <p>Explains some aspects of the experiment. Partially follows the 4 paragraph outline given in class.</p>
                </td>
                <td>
                  <p>Does not provide adequate (enough) explanations about aspects of the experiment. Does not follow the 4 paragraph outline given in class.</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="center">Materials - 3</td>
                <td>
                  <p><b>A complete listing</b> of the <b>materials used</b> in the laboratory/research is provided.</p>
                </td>
                <td>
                  <p>Most of the materials used in the laboratory/research are provided. Few are missing.</p>
                </td>
                <td>
                  <p>The material list is incomplete. Several materials are missing.</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="center">Procedure - 5</td>
                <td>
                  <p>The experiment is replicable. (Some one else could repeat your steps without your help.)<b>All steps are included.</b></p>
                  <p><b>How the materials were used</b> is clearly explained in chronological (which one was used first, to which one was used last) order.</p>
                  <p><b>Drawings and photographs</b> enhance or clarify the procedure.</p>
                </td>
                <td>
                  <p>Procedure is present, but incomplete or confusing.<br>How the materials were used is explained. Some steps are missing and not in chronological order.</p>
                  <p>Drawings and photographs are present but do not help enhance or clarify the procedure.</p>
                </td>
                <td>
                  <p>Procedure is missing.</p>
                  <p>How the materials were used is not clearly explained in chronological order. Several steps are missing.</p>
                  <p>Measurements are missing. The experiment is not replicable.<br>Drawings and photographs are not present.</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="center">Data and Results - 10</td>
                <td>
                  <p>Data is quantitative (it contains what you measured, not what you wish you had measured.)<br>A clear, concise presentation of the data is presented. Drawings, charts, graphs, data tables are included, complete, and fully labeled.</p>
                  <p>Results are recorded clearly and accurately.<br>Data is clearly described in full sentences and includes a thorough explanation of what happed during the experiment.</p>
                </td>
                <td>
                  <p>Data is not quantitative or difficult to understand.</p>
                  <p>The data is presented in drawings, charts, graphs, data tables. However, some of the drawings, charts, graphs, data tables are missing data and labels.</p>
                  <p>Results are recorded accurately.<br>Data is generally described and partially explains what happened during the experiment.</p>
                </td>
                <td>
                  <p>The presentation of the data is not clear and precise. Several pieces of data are missing.</p>
                  <p>Drawings, charts, graphs, data tables are incomplete and not correctly labeled.</p>
                  <p>Results are recorded inaccurately.<br>Data is not described.</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="center">Conclusion - 20</td>
                <td>
                  <p>Conclusion clearly <b>refers</b> to the <b>question</b> and <b>purpose</b> and states whether or not the <b>data supports the hypothesis. Hypothesis is restated.</b></p>
                  <p><b>Hypothesis</b> is clearly and fully supported by <b>evidence</b> (numbers) <b>referenced from the data.</b></p>
                  <p>Explains possible reasons why the data turned out the way it did.<br>Possible <b>errors</b> that may have affected your results and <b>changes</b> to the experiment are explained.</p>
                  <p><b>Importance</b> of project and <b>implication</b> on others is clearly and fully discussed.</p>
                </td>
                <td>
                  <p>Conclusion briefly refers to the question, purpose and may state if the data supports the hypothesis. Hypothesis is vaguely restated.</p>
                  <p>Hypothesis is partially supported by evidence (numbers) referenced in the data.</p>
                  <p>Briefly mentions one reason why the data turned out the way it did.</p>
                  <p>One possible error that may have affected your results and one change to the experiment are explained.</p>
                  <p>Importance of project and implication on others is briefly discussed.</p>
                </td>
                <td>
                  <p>Conclusion lacks reference to the question, purpose and hypothesis.<br>Hypothesis is not supported by evidence referenced in the data.</p>
                  <p>Does not attempt to explain why the data turned out.<br>No possible errors or changes are discussed.</p>
                  <p>Importance and implication of project is not discussed.</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="center">Presentation - 5</td>
                <td>
                  <p><b>Report is easy to read.</b></p>
                  <p><b>Report</b> is well <b>organized</b> and complete (contains a title page, purpose, hypothesis, review of literature/background, materials, procedure, data, conclusion).</p>
                  <p>Grammar and punctuation are used correctly, making it easy to understand what was meant. Third person is used throughout the report.</p>
                </td>
                <td>
                  <p>Report is fairly easy to read.</p>
                  <p>Report has some organization, and it is complete (contains a title page, purpose, hypothesis, review of literature/background, materials, procedure, data, conclusion), but some parts are difficult to locate.</p>
                  <p>Grammar and punctuation are generally used correctly. Sometimes it is difficult to be sure what was meant. Third person is sometimes used.</p>
                </td>
                <td>
                  <p>Report is difficult to read.</p>
                  <p>Report has little organization evident, and/or it is incomplete (missing one of the following: title page, purpose, hypothesis, review of literature/background, materials, procedure, data, conclusion).</p>
                  <p>Grammar and punctuation are frequently used incorrectly. Often it is difficult to be sure what was meant. Third person is not used.</p>
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>

{% endblock %}