{% extends "_base.html" %}
{% block content %}
          <div class="well">
            <h1>Materials/Methods</h1>
            <p>The materials/methods section is very important in a lab report because it tells the reader exactly what you need to complete the experiment. It also gives a step by step procedure that should be detailed enough that anyone (including your grandma) can repeat the experiment after simply reading your methods section. It must include all of the following parts and include all of the points under each subsection:</p>
          </div>

          <div>
            <h1>Rubric</h1>
            
            <h4>Materials (3 points)</h4>
            <ul>
              <li>Must include a complete list of <b>all</b> materials used.</li>
              <li>Must include the <b>amounts</b> of each material used.</li>
              <li>Must include the <b>units</b> used to measure the amount of each material used.</li>
            </ul>

            <h4>Methods (5 points)</h4>
            <ul>
              <li>Must be written sequentially and numbered.</li>
              <ul>
                <li>Example: First, ____ was measured and added to ____. Then ____ was measured.</li>
                <li>How the materials were used is clearly explained in chronological (which one was used first, to which one was used last) order.</li>
              </ul>
              <li>Must include the amounts and units of each material used when explaining the step it was used in.</li>
              <li>The experiment is replicable. (Some one else could repeat your steps without your helps.)</li>
              <li>Drawings and photographs enhance or clarify the procedure.</li>
            </ul>

            <h4>Spelling and Grammar (1 points)</h4>
            <ul>
              <li>0-1 use of personal pronouns (0.5)</li>
              <li>0-3 spelling or grammar errors (0.5)</li>
            </ul>

          </div>
{% endblock %}